{
  "default_server_config": {
    "m.homeserver": {
      "base_url": "https://matrix-${APP_DOMAIN}",
      "server_name": "matrix-${APP_DOMAIN}"
    }
  },
  "brand": "Element",
  "disable_custom_urls": false,
  "disable_guests": true,
  "show_labs_settings": false,
  "default_theme": "auto"
}
