issuer: https://outline-auth-${APP_DOMAIN}
storage:
  type: sqlite3
  config:
    file: /data/dex.db
web:
  http: 0.0.0.0:5556
staticClients:
  - id: outline
    secret: ${OUTLINE_OIDC_SECRET}
    name: Outline
    redirectURIs:
      - https://outline-${APP_DOMAIN}/auth/oidc.callback
enablePasswordDB: true
staticPasswords:
  - email: "${APP_EMAIL:-admin@${APP_DOMAIN}}"
    hash: "${OUTLINE_DEX_PASSWORD_HASH}"
    username: admin
